body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


section {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;

}

#display {
    grid-column: span 4;
    height: 60px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #2e2e2e;
    color: #fff;
}

/* Butonat */
button {
    height: 60px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #3c3c3c;
    color: white;
    cursor: pointer;

}

button:hover {
    background-color: #5a5a5a;
}
